*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}
body{
    background-color: darkolivegreen;
}

::selection{
    color: #fff;
    background: darkolivegreen;
}

.start_button,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.start_button, .info_box {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box.activeInfo, 
.quiz_box.activeQuiz {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
}

/*START QUIZ BUTTON STYLING*/

.start_button button {
    font-size: 25px;
    font-weight: 500;
    color: darkolivegreen;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

/*INFO BOX STYLING*/


.info_box {
    width: 540px;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title {
    height: 60px;
    width: 100%;
    border-bottom: 1 px solid lightgrey;
    display: flex;
    align-items: center;
    padding:0 30px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: darkolivegreen;
}

.info_box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*BUTTONS STYLING*/

.buttons button.restart {
    color: white;
    background: darkolivegreen;
}

.buttons button.restart:hover {
    background: darkolivegreen;
}

.buttons button.quit {
    color: darkolivegreen;
}

.buttons button.quit:hover {
    color: white;
    background: darkolivegreen;
}

/*QUIZ BOX STYLING*/

.quiz_box {
    width: 550px;
    background: white;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header {
    position: relative;
    z-index: 90;
    height: 70px;
    padding: 0 30px;
    background: white;
    display:flex;
    justify-content: space-between;
    border-radius: 0px 3px 3px 5px 1px rgba(0,0,0,0);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: rgb(209, 185, 122);
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    padding: 0 8px;
}

.quiz_box header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    background: darkgray;
    height: 30px;
    width: 45px;
    color: white;
    text-align: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    user-select: none;
}

.quiz_box .section {
    padding: 25px 30px 20px 30px;
    background: white;
}

.quiz_box .section .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box .section .option_list {
    padding: 20px 0;
    display: block;
}

/*SECTION STYLING*/

section .option_list .option { 
    background: #92a375;
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:hover { 
    color: darkolivegreen;
    background: #92a375;
    border-color: #a1ac8e
}

section .option_list .option:last-child { 
    margin-bottom: 0px;
}

/*OPTION LIST STYLING*/

.option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}
.option_list .option .icon.tick{
    color: green;
    border-color: green; 
    background: lightgreen;
}

.option_list .option .icon.cross{
    color: red; 
    border-color: red;
    background: lightpink;
}

.option_list .option.correct {
    color: green;
    border-color: green; 
    background: lightgreen;
}

.option_list .option.incorrect {
    color: red; 
    border-color: red;
    background: lightpink;
}

option_list .option.disabled{
    pointer-events: none;

}


/*FOOTER STYLING*/

.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display:flex;
    user-select: none;
}

footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;

}

.total_que span p:first_child{
    padding-left: 0px;
}

footer .next_button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: darkolivegreen;
    border-radius: 10px;
    border: 1 px solid darkolivegreen;
    cursor: pointer;
}

footer .next_button:hover {
    background: darkolivegreen;
}

/*RESULT BOX STYLING*/

.result_box{
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
    font-size: 100px;
    color: darkolivegreen;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}
.result_box .score_text span{
    display:flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid darkolivegreen;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* RESULTS/END BUTTONS STYLING*/

.buttons button.restart{
    color: #fff;
    background: darkolivegreen;
}

.buttons button.restart:hover{
    background: #92a375;
}

.buttons button.quit{
    color: darkolivegreen;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: darkolivegreen;
}

