*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", sans-serif;
}
body{
    background-color: darkolivegreen;
}

::selection{
    color: #fff;
    background: darkolivegreen;
}

.start-button,
.info-box,
.quiz-box,
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.start-button, .info-box {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*START QUIZ BUTTON STYLING*/

.start-button button {
    font-size: 25px;
    font-weight: 500;
    color: darkolivegreen;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.info-box {
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1 px solid lightgrey;
    display: flex;
    align-items: center;
    padding:0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: darkolivegreen;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey;
}

.info-box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    color: white;
    background: darkolivegreen;
}

.buttons button.restart:hover {
    background: darkolivegreen;
}

.buttons button.quit {
    color: darkolivegreen;
}

.buttons button.quit:hover {
    color: white;
    background: darkolivegreen;
}

.quiz-box {
    width: 550px;
    background: white;
    border-radius: 10px;
}

.quiz-box header {
    height: 70px;
    padding: 0 30px;
    background: white;
    display:flex;
    justify-content: space-between;
    border-radius: 0px 3px 3px 5px 1px rgba(0,0,0,0);
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: rgb(209, 185, 122);
    border: 1px solid darkolivegreen;
    border-radius: 10px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 500;
    background: darkgray;
    height: 30px;
    width: 45px;
    color: white;
    text-align: 30px;
    border-radius: 5px;
    border: 1px solid darkgray;
    user-select: none;
}

.quiz-box .section {
    
}